<h1>{{details.title}}</h1>
<p class="my-5">{{details.subtitle}}</p>
{{#details}}
<ul>
    {{#features}}
    <li>{{{.}}}</li>
    {{/features}}
</ul>
{{/details}}
<p class="my-5">{{details.description}}</p>