<div class="row">
    {{#renderEmailSuccess}}
    <h1 class="text-center">Email enviado !</h1>
    {{/renderEmailSuccess}}

    {{#renderEmailFailure}}
    <h1 class="text-center"> Email não enviado <br /> Algo deu errado </h1>
    {{/renderEmailFailure}}
</div>