<div class="row">
    <div name="infos" class="col-9">
        <h1>{{home.title}}</h1>
        <h2 class="my-5">{{home.subtitle}}</h2>
        <p class="my-5">{{{home.description}}}</p>

        <div class="d-flex justify-content-center pt-5">
            <img src="/public/images/book.png" alt="Livro com magia saindo dele" />
        </div>
    </div>

    <div class="col-3"> {{> login}} </div>
</div>