{{> header}}

<main class="container my-5 pt-5">
    <div class="row">
        <div name="infos" class="col-9">
            <h1>{{home.title}}</h1>
            <h2>{{home.subtitle}}</h2>
            <p>{{home.description}}</p>
            <div name="buttons">
                <a class="btn btn-primary mx-2" href={{details.url}}>{{details.link}}</a>
                <a class="btn btn-primary mx-2" href={{tools.url}}>{{tools.link}}</a>
                <a class="btn btn-primary mx-2" href={{developer.url}}>{{developer.link}}</a>
                <a class="btn btn-primary mx-2" href={{contact.url}}>{{contact.link}}</a>
            </div>
        </div>

        <div class="col-3">
            {{> login}}
        </div>
    </div>
</main>

{{> footer}}