<div class="row">
    <div name="infos" class="col-9">
        <h1>{{creatures.title}}</h1>
        <h2 class="my-3">{{creatures.subtitle}}</h2>
        <p class="my-5">{{{creatures.description}}}</p>
    </div>
</div>

<script type="module" src="javascripts/creatureController.js"></script>