<div class="row">
    <h1>{{developer.title}}</h1>
    <!--<h2 class="my-3">{{developer.subtitle}}</h2>-->
    <p class="my-5">{{{developer.description}}}</p>

    <div class="d-flex justify-content-start">
        <img style="width: auto; height: 400px;" src="/public/images/burca.jpg" alt="burca - Desenvolvedor" />
    </div>
</div>