<div class="container d-flex justify-content-end">
    <form id="form-login">
        <h1>Login</h1>

        <div class="form-group my-3">
            <label for="username">Usuário</label>
            <input type="text" class="form-control" id="username" name="user" placeholder="Digite seu usuário">
        </div>
        <div class="form-group my-3">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="password" name="pass" placeholder="Digite sua senha">
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-block my-3 input-block-level form-control">Login</button>
        </div>

</div>

<script type="module" src="javascripts/LoginController.js"></script>